<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
        <% if (typeof accountData !=="undefined" ) { %>
            <span>
                Welcome,
                <a href="/account/management" title="Go to your account">
                    <%= accountData.account_firstname %>
                </a>
            </span>
            |
            <a href="/account/logout" title="Click to log out">Logout</a>
            <% } else { %>
                <a href="/account/login" title="Click to log in">My Account</a>
                <% } %>
    </div>
</header>