/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-image: url('/images/site/checkboard.jpg'); /* Background image */
  background-size: cover; /* Ensure the image covers the full screen */
  background-position: center center; /* Center the image */
  background-attachment: fixed; /* Fix the background image during scroll */
  font-family: Arial, sans-serif;
  color: black; /* Text color */
  border: 10px solid rgb(33, 208, 220); /* Cyan blue border */
  padding: 20px; /* Padding inside the body to avoid text touching the edges */
}

nav {
  background-color: black;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  color: white;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

footer {
  text-align: left;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}