<h1>
    <%= title %>
</h1>

<!-- Flash Message Display -->
<%- messages() %>

    <div id="link-container">
        <ul>
            <li><a href="/inventory/add-classification">Add New Classification</a></li>
            <li><a href="/inventory/add-item">Add New Inventory Item</a></li>
        </ul>
    </div>