<div class="error-container">
    <% if (title) { %>
        <h1>
            <%= title %>
        </h1>
        <% } else { res.redirect('/'); } %>
            <p><strong>Message:</strong>
                <%= message %>
            </p>
</div>

<!-- <style>
    .error-container {
        text-align: center;
        padding: 50px;
    }

    .error-container h1 {
        font-size: 2em;
        color: red;
    }

    .error-container p {
        font-size: 1.2em;
    }
</style> -->